body{
	color: #d3d0cb;
	font-family: "Arial Narrow", Arial, Serif; 
	background: #301e0c url(../img/Header.png) repeat-x;
	}

h1{
	
	color: #e8b965;
	font-family: "Arial Black", Arial, Serif;
	font-size: 50px;
	}
	
h2{
	color: #e8b965;
	font-family: "Arial Black", Arial, Serif;
	font-size: 35px 
	}

/* Lists */

ul#nav{
	list-style-type: none;
	padding-right: 32px;
	padding-left: 32px;
	
	}

li#nav{
	background: #000000;
	float: left;
	padding-right: 10px;
	padding-left: 10px;	
	padding-bottom: 10px;
	padding-top: 10px;
	}

Nav{
	display: inline;
	padding-right: 32px;
	padding-left: 32px;
	display: block;
	
	}	
	
a:link{
	color: #693d0e;
	text-decoration: none;
	border-bottom: 1px solid;
	
	}

a:visited{
	color: #ae6517;
	
	}
	
a:hover{
	color: #b2916d;
	border-bottom: none;
	}

a:active{
	color: #b2916d;
	border-bottom: none;
	}

/* Floating */

Nav{
	float: right;
}